/* h1{
    color: red;
}


p{
    color: aqua;
}
div{
    text-align: center;
    width: 400px;
    border: 1px solid black;
}
div img{
    width: 100%;
} */

p{
    background: #CC95C0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    text-shadow: -2px 2px 2px black;
    box-shadow: 4px -2px 7px 0px black;
}
a{
    
    text-decoration-style: wavy;
    color: black;
    background: -webkit-linear-gradient(#eee, #9f0f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}