/* SELECTOR */
/* 
h1{
}
.classname{
}
#idname{
}
*/


/* h1{
    font-weight: 700;
    color: red;
    font-size: 30px;
}

.otherh1{
    font-size: 20px;
    color: yellow;
}
.otherh2{
    font-size: 10px;
    color: blue;
}
.otherh3{
    font-weight: 300;
}
#defaultcolor{
    color: black;
}
#firstheading{
   background-color: aqua; 

} */

/* img{
    width: 200px;
}

.otherimg{
    width: 300px;
    padding: 10px;
    background-color: black;
}
.otherimg2{
    width: 500px;
}
.otherimg3{
    width: 1000px;
} */







